<div class="title">Poll details</div>
<div id="main" class="container poll">
  <div *ngIf="poll != undefined && poll != null">
    <md-card>
      <md-card-header>
        <md-card-title><h3>{{poll.question}}</h3></md-card-title>
      </md-card-header>
      <md-card-content *ngIf="isOpen">
        <div *ngFor="let answer of poll.answers, let i = index" class="answer">
          <div style="background: none;" class="progress">{{answer}}</div>
          <div class="progressLbl"></div>
        </div>
      </md-card-content>
      <md-card-content *ngIf="!isOpen">
        <div *ngFor="let answer of poll.answers, let i = index" class="answer">
          <div *ngIf="answers[i] != undefined" [style.width]="answers[i] + '%'" class="progress">{{answer}}</div>
          <div *ngIf="answers[i] == undefined" style="background: none;" class="progress">{{answer}}</div>
          <div *ngIf="answers[i] != undefined" class="progressLbl">{{answers[i] + '%'}}</div>
          <div *ngIf="answers[i] == undefined" class="progressLbl"></div>
        </div>
      </md-card-content>

      <md-card-actions>
        <div class="number">{{total}} answers</div>
        <button *ngIf="isOpen" (click)="stop()" class="stop">Stop</button>
        <button *ngIf="!isOpen" (click)="start()" class="start">Start</button>
      </md-card-actions>
    </md-card>
  </div>
</div>